    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: black;
    }
    
    img {
        width: 350px;
        height: 450px;
        margin-top: 70px;
    }
    
    .img {
        display: flex;
        justify-content: center;
    }