@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.switch {
    width: 100px;
    background-color: white;
    height: 25px;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: transparent;
    border: none;
}

.project {
    background-color: #2c2c2c;
    width: 350px;
    margin: 20px auto auto auto;
    color: white;
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 5px;
    max-height: max-content;
    min-height: 650px;
    height: 100%;
    border: 5px solid white;
}

.projects li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.list-projects h1 {
    text-align: center;
}

.projects {
    margin-top: 15px;
    margin-left: 45px;
    list-style: none;
}

.projects li {
    margin-bottom: 10px;
}

.list-projects {
    padding-top: 50px;
    padding-bottom: 25px;
}

.perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 90px auto auto auto;
    border: 5px solid grey;
}

.img {
    display: flex;
}

.brazil-flag {
    width: 30px;
    height: 20px;
    margin-left: 10px;
}

.dev {
    display: flex;
    margin-left: 15px;
    margin-top: 50px;
    color: white;
    margin-bottom: 160px;
}

#dev {
    font-weight: bold;
}

.socials ul li i {
    color: white;
    font-size: 35px;
    border-radius: 5px;
}

.socials ul li i:hover {
    font-size: 37px;
    color: black;
    background-color: white;
    cursor: pointer;
    transition: all ease 350ms;
}

.socials ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.socials ul li {
    margin-left: 15px;
}

.socials {
    background-color: gray;
    padding-top: 10px;
    width: 150px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-top: 15px;
    border-radius: 15px;
}

.all-socials {
    display: flex;
    justify-content: center;
}